mixin php
  | <?php 
  block
  | ?>

mixin echo(text)
  +php echo "#{text}";

mixin if(conditional)
  +php if (#{conditional}):
  block
  +php endif;

mixin else
  +php else:
  block

mixin elseif(conditional)
  +php else if(#{conditional}):
  block

mixin each(list, value, key)
  if key
    +php foreach(#{list} as #{value} => #{key}):
  else
    +php foreach(#{list} as #{value}):
  block
  +php endforeach;


//- +php.
//-   include "vars.php";
//- 
//- - var title = ":D"
//- doctype
//- html
//-   head
//-     title= title
//-   body
//-     +testIO()
//-     +php.
//-       $demo = ":D";
//-     +each("$my_list", "$value", "$key")
//-       +php echo $test;
//-       +if("$a == 1")
//-         li #[+php echo $value;]
//-         +else
//-           li #[+php echo $value;]
//-         +elseif("$b == 2")
//-           li #[+php echo $value;]
