//- attributes
//- div#test(data-bar="foo")&attributes({'data-foo-one':'bar1'})

- var attr_foo = "bar2";
- var attr_foodyn = [ "xxxx" ];
div#foo(data-bar-test-two="foo2", class="test_class")&attributes({'data-foo-test': attr_foo, class:attr_foodyn}).demo-last-class&attributes( { 'no-pain':'true' } )

//- - var attr_foo = "bar2";
//- div#foo(data-bar-test-two=attr_foo)&attributes({'data-foo-test': attr_foo})
//- 
//- - var attr_1 = 'bar3'
//- - var attributes_2 = {'data-foo-test2': attr_1};
//- div#foo(data-bar-three="foo")&attributes(attributes_2)
//- 
//- 
//- - var attr_2 = 'bar4'
//- - var attributes_3 = {'data-foo-test4': attr_2};
//- div#foo(data-bar-four="foo", data-bar-three="double")&attributes(attributes_3)
//-   
//- - var class_demo = 'external'
//- - var attributes_4 = {'class': class_demo};
//- div#foo(data-bar-four="foo", class="internal")&attributes(attributes_4)
//-   
//- - var class_demo = 'external'
//- - var test_attr = "no_place"
//- - var attributes_5 = {'class': test_attr};
//- div#foo(data-bar-four="foo", class=class_demo)&attributes(attributes_5)

//- != this.doctype()
//- html(lang="es", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
//-   head
//-     meta(charset="utf8")
//-     meta(test="utf8")
//-     !=
//-       this.headTitle('ZF2 ' + this.translate('Skeleton App'))
//-            .setSeparator('-')
//-            .setAutoEscape(false)
//-     != 
//-       this.headMeta()
//-            .appendName('viewport', 'width=device-width, initial-scale=1.0')
//-            .appendHttpEquiv('X-UA-Compatible', 'IE=edge')
//-     != 
//-       this.headLink({
//-            'rel':'shortcut icon', 
//-            'type':'image/vnd.microsoft.icon', 
//-            'href': this.basePath() + '/img/favicon.ico'
//-            })
//-            .prependStylesheet(this.basePath('css/style.css'))
//-            .prependStylesheet(this.basePath('css/bootstrap-theme.min.css'))
//-            .prependStylesheet(this.basePath('css/bootstrap.min.css'))
//-     != 
//-       this.headScript()
//-            .prependFile(this.basePath('js/bootstrap.min.js'))
//-            .prependFile(this.basePath('js/jquery.min.js'))
//-            .prependFile(this.basePath('js/respond.min.js'), 
//-               'text/javascript', 
//-               {'conditional':'lt IE 9'})
//-            .prependFile(this.basePath('js/html5shiv.min.js'),   
//-               'text/javascript', 
//-               {'conditional':'lt IE 9'})
//-   body
    //- one line
    //- p= welcome
    //- p #{single_fn()}

    //- select
    //-    option(selected="") seleccione
    //-    option(selected=$selected_2) 2

    //- many lines
    //- p. 
    //-  test demo #{parraf} 
    //-  wuju! #{single_fn()} 
    //- br
    //- a(title=single_fn())= $link
    //- //- br
    //- //- a(title=$objTest.url("hello!"))= $objTest.do_some()
  

    //- - var ey = this.doctype()
    //- input(type="checkbox", checked)
    //- input(type="checkbox", checked=ey)
    //- input(type="checkbox", checked=false)
    //- input(type="checkbox", checked=true && test)
    //- 
    //- - var classes = ['foo', 'bar', 'baz']
    //- - var single_class= 'doe'
    //- 
    //- a(class=classes)
    //- a(class=classes class=['more'])
    //- a(class=classes class='more')
    //- a(class=single_class)
    //- a(class=single_class class=['more-more'])
    //- a(class=single_class class={'o': single_class === false, 'a': sin == test})
    //- a(class=single_class class="echo")
    //- a(class=single_class class='more-more')

    //- if
    //- - flag = true;
    //- -
    //-   flag   = true;
    //-   flag_2 = false;

    //- if isset(flag)
    //-   p=flag
    //-   if isset(flag)
    //-     p=flag
    //- else if isset(flag_2)
    //-   p=flag_2
    //- else
    //-   p=flag_2

    //- case
    //- - friends = 2
    //- case friends > 2
    //-   when 0
    //-    p funciona :D
    //-   when 1
    //-    p funciona :D
    //-   when 2
    //-    p I have #{friends} friends
    //-   default
    //-    p funciona :D

    //- //- iteration only val!
    //- - single_array = ["a", "b", "c"]
    //- - each_object = {"a":"001", "b": "002", "c": "003"}
    //- ul.only-val
    //-   each val, index in single_array
    //-     li= index

    //- ul.index-and-val
    //-   each val, index in single_array
    //-     li #{val} #{index}

    //- ul.only-eachobject-val
    //-   each val in each_object
    //-     li=val

    //- ul.only-eachobject-index-and-val
    //-   each val, index in each_object
    //-     li= index
  
    //- //- while
    //- - ene = 0
    //- ul
    //-   while ene < 5
    //-     li=ene++
